/* Card */
.card {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	color: wheat;
	text-decoration: underline;
}

.loader {
	width: 100%;
	height: 90vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader > div {
	transform: scale(3);
}

.container {
	width: 70vmax;
	margin-top: 5vmin;
	display: flex;
	flex-direction: column;
	row-gap: 5vmin;
}

.mainInfo {
	width: 100%;
	display: flex;
}

.poster {
	width: 30%;
	position: relative;
}

.poster > img {
	border-radius: 1vmax;
	width: 75%;
}

.header {
	position: relative;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2vmin;
}

.header h1 {
	max-width: 26vmax;
	text-align: center;
	font-size: 4vmin;
}

.header h2 {
	font-size: 3vmin;
}

.header p {
	font-size: 2vmin;
}

/* Buttons */

.favorite {
	position: absolute;
	top: 1vmin;
	left: 0;
}

.viewed {
	position: absolute;
	top: -1vmin;
	right: 0;
}

/* About */
.about {
	display: flex;
	flex-direction: column;
	row-gap: 1vmin;
}

.aboutDiv {
	width: 100%;
}

.about h2 {
	text-align: start;
}

.about > div {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 1vmax;
}

.about p {
	text-align: start;
	font-size: 2.25vmin;
	width: 20%;
}

.about span {
	text-align: start;
	font-size: 2.25vmin;
	width: 80%;
}

.info {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.menuBar {
	display: flex;
	column-gap: 2vmax;
}

.menuBar p {
	border-radius: 2vmin;
	padding: 1vmin 2vmin;
	font-size: 2.5vmin;
	font-weight: bold;
	color: #252729;
	background: #74acff;
	transition: 1s;
	cursor: pointer;
}

.active {
	background: #acddff !important;
}

.menuContent {
	overflow-y: auto;
	height: 45vmin;
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.menuContent p {
	font-size: 2vmin;
}

/* Rating */

.rating {
	position: absolute;
	top: 0;
	left: -5vmax;
}

.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	width: 10vmax;
}

.logo {
	width: 3vmax !important;
}

.star {
	width: 5vmax !important;
}

.block p {
	position: absolute;
	top: 4.25vmin;
	left: 5.9vmax;
	color: #252327;
	font-weight: bold;
	font-size: 2vmin;
}

.rating h2 {
	position: absolute;
	top: 1vmin;
	left: 17vmax;
	font-size: 3vmin;
	font-style: italic;
	font-weight: bold;
	color: #ff4547;
	padding: 0 1vmin;
	z-index: 10;
	border-radius: 1vmin;
	background: #fffa95;
}

/* Actors */

.actors {
	overflow-x: auto;
	display: flex;
	padding-bottom: 2vmin;
	column-gap: 4vmax;
}

.actors img {
	border-radius: 2vmin;
	width: 10vmax;
	height: 15.66vmax;
	transition: 0.5s;
	cursor: pointer;
}

.actors img:hover {
	transform: translateY(-1vmin) scale(0.95);
}

.actors > div {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.actorsBlock {
	display: flex;
	column-gap: 2vmax;
	text-align: center;
}

/* Images */

.images {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2vmax;
	row-gap: 3vmin;
	justify-content: center;
}

.images img {
	border-radius: 1vmax;
	max-height: 17vmin;
	cursor: zoom-in;
}

/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2000;
}

.content h2 {
	position: absolute;
	bottom: 1.5vmin;
	left: 50%;
	transform: translate(-50%);
	font-size: 4vmin;
	font-style: italic;
}

.prev {
	position: absolute;
	transform: translateX(-100vmax);
}

.cur {
	max-width: 75vmax;
	max-height: 87vmin;
	border-radius: 2vmax;
	filter: drop-shadow(0 0 3vmin rgba(255, 255, 255, 0.25));
	cursor: zoom-out;
}

.next {
	position: absolute;
	transform: translateX(100vmax);
}

.left {
	position: absolute;
	width: 10vmax;
	height: 100%;
	top: 50%;
	left: 0;
}

.left img {
	width: 10vmax;
	margin-left: 2vmax;
	transform: translate(0, -50%) rotateZ(-90deg);
	filter: invert(0.5);
	transition: 0.3s;
	cursor: pointer;
}

.left img:hover {
	transform: translate(-0.5vmax, -50%) rotateZ(-90deg);
	filter: invert(1);
}

.right {
	position: absolute;
	width: 10vmax;
	height: 100%;
	top: 50%;
	right: 0;
}

.right img {
	width: 10vmax;
	margin-left: -2vmax;
	transform: translate(0, -50%) rotateZ(90deg);
	filter: invert(0.5);
	transition: 0.3s;
	cursor: pointer;
}

.right img:hover {
	transform: translate(0.5vmax, -50%) rotateZ(90deg);
	filter: invert(1);
}

.disabledL,
.disabledR {
	cursor: default !important;
	filter: invert(0.1) !important;
}

.disabledL:hover {
	transform: translate(0, -50%) rotateZ(-90deg) !important;
}

.disabledR:hover {
	transform: translate(0, -50%) rotateZ(90deg) !important;
}

.close {
	position: absolute;
	width: 10vmax;
	height: 100%;
	top: 2vmin;
	right: -5vmax;
}

.close img {
	width: 3vmax;
	cursor: pointer;
	transition: 0.5s;
}

.close img:hover {
	filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.75));
}

/* Awards */

.awards {
	border-top: 2px solid white;
	padding-top: 2vmin;
}

.searchAward {
	height: 25vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	column-gap: 2vmax;
}

.searchAwardItem {
	max-width: 12vmax;
	height: 20vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	filter: blur(5px);
}

.searchAward:hover .searchAwardItem {
	filter: blur(5px);
}

.searchAwardItem:hover {
	filter: blur(0) !important;
}

.activeAward {
	filter: blur(0);
}

.activeAward > h2 {
	color: goldenrod;
}

.searchAwardItem > img {
	height: 80%;
}

.awardsList {
	height: 25vmin;
	overflow-x: auto;
	display: flex;
	align-items: center;
	text-align: center;
	column-gap: 1.5vmax;
	padding: 1vmin 1vmax;
}

.awardPerson {
	min-width: 25vmax;
	height: 20vmin;
	display: flex;
	column-gap: 1vmax;
	padding: 1vmin 1vmax;
	border-radius: 1vmax;
	box-shadow: 0 0 1vmax white;
	transition: 0.3s;
}

.awardPerson > img {
	border-radius: 1vmax;
}

.awardPerson > div {
	display: flex;
	flex-direction: column;
	row-gap: 1vmin;
}

.awardPerson > div > a {
	font-size: 2.5vmin;
	font-weight: bold;
}

.awardPerson > div > h2 {
	font-size: 2vmin;
}

/* Similars */

.similars {
	width: 100%;
}

.similars > h2 {
	font-size: 4vmin;
	font-style: italic;
}

.similars > div {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	padding: 2vmin 2vmax;
	column-gap: 1vmax;
}

.similar {
	min-width: 10vmax;
	height: 25vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 1vmin 1vmax;
	column-gap: 1vmin;
	border-radius: 2vmax;
	box-shadow: 0 0 1vmax white;
	transition: 0.3s;
}

.similar:hover {
	transform: scale(1.5) translateY(-1vmin);
	background: #131517;
	z-index: 10;
}

.similar > img {
	height: 60%;
}

/* Reviews */

/* .reviews {
	display: flex;
	row-gap: 5vmin;
} */

.reviewsLoader {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10vmin;
	align-items: center;
	justify-content: center;
}

.reviewsLoader > div {
	transform: scale(2);
}

.reviewsContent {
	display: flex;
	flex-direction: column;
	row-gap: 5vmin;
}

.reviewsContent > div:nth-child(1) {
	display: flex;
	justify-content: space-around;
}

.reviewsContent > div:nth-child(1) {
	display: flex;
}

.reviewsContent > div:nth-child(2) {
	max-height: 60vmin;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	row-gap: 3vmin;
	padding-right: 1vmax;
}

.reviewsInnerLoader {
	width: 100%;
	display: flex;
	justify-content: center;
}
.reviewsContent > div:nth-child(2) > h1 {
	text-align: center;
}

.reviewsContent h2 > span:nth-child(1) {
	color: #7bf193;
}

.reviewsContent h2 > span:nth-child(2) {
	color: #678cf9;
}

.reviewsContent h2 > span:nth-child(3) {
	color: #d76f78;
}

.reviewsContent > div > h3 {
	position: relative;
	width: 20vmax;
	user-select: none;
}

.reviewsContent > div > h3 > span {
	cursor: pointer;
	padding: 0 1vmax;
	border-bottom: 1px solid white;
}

.reviewsContent > div > h3 > ul {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2vmin;
	padding: 2vmin 1vmax;
	text-align: center;
	border-top: none;
	border-bottom-left-radius: 2vmax;
	border-bottom-right-radius: 2vmax;
	background: #7f7f7f;
	z-index: 100;
	transition: 0.5s;
}

.open {
	animation: show 0.5s linear 0s 1 normal forwards;
}

@keyframes show {
	0% {
		height: 5vmin;
	}
	100% {
		height: 27vmin;
	}
}

.reviewsContent > div > h3 > ul > li {
	width: 80%;
	text-decoration: none;
	list-style: none;
	padding: 0.75vmin 0;
	border-radius: 1vmin;
	color: black;
	background: #bababa;
	cursor: pointer;
	transition: 0.3s;
}

.reviewsContent > div > h3 > ul > li:hover {
	transform: scale(1.075);
	box-shadow: 0.1vmax -0.2vmin 0 2px black;
}

/* Review */

/* .reviewWrapper { 
	position: relative;
	padding: 1vmin 1vmin;
	border-radius: 5.25vmax
}

.reviewWrapper::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vmax;
	height: 40vmin;
	background: linear-gradient(transparent, #e50914, #e50914, #e50914, transparent);
	animation: rotate 10s linear infinite;
	z-index: -1;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
} */

.review {
	display: flex;
	flex-direction: column;
	padding: 2vmin 3vmax;
	row-gap: 2vmin;
	border-radius: 5vmax;
	/* background: #171921 */
}

.review > div {
	height: 6vmin;
	display: flex;
	justify-content: space-between;
}

.review > div > h2 {
	font-style: italic;
	margin-left: 2vmax;
	margin-top: 2vmin;
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
}

.review > div > div {
	display: flex;
}

.review > div > div > div {
	width: 5vmax;
}

.review > p {
	font-size: 2vmin;
	padding: 3vmin 2vmax;
	/* color: #151719; */
	border-radius: 2vmax;
	background: black;
}

.review > h2 {
	text-align: center;
	font-size: 4vmin;
}

.review > h3 {
	text-align: center;
	font-size: 3vmin;
}

.review > h4 {
	width: 20vmax;
	padding: 0.75vmin 0;
	font-size: 2vmin;
	text-align: center;
	border-radius: 5vmin;
	border: 2px solid #7c7c7c;
	cursor: pointer;
	transition: 0.3s;
}

.review > h4:hover:hover {
	border: 2px solid white;
}

.hiddenLine {
	height: 3vmin;
	width: 100%;
}
