/* Card */
.card {
	width: 100vw;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	color: wheat;
	text-decoration: underline;
}

.loader {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader > div {
	transform: scale(2);
}

.container {
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.mainInfo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.mainInfo > div:nth-child(1) {
	width: 100%;
	display: flex;
}

.poster {
	width: 30%;
	position: relative;
}

.poster > img {
	border-radius: 5px;
	width: 75%;
	filter: drop-shadow(0 0 1vmax rgba(255, 255, 255, 0.3));
}

.header {
	position: relative;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.header h1 {
	max-width: 100%;
	text-align: center;
	font-size: 16px;
}

.header h2 {
	font-size: 14px;
}

.header p {
	font-size: 12px;
}

/* Buttons */

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
}

.buttons > div {
	margin-right: 30px;
}

.favorite {
	width: 50%;
	transform: scale(0.25);
}

.viewed {
	width: 50%;
}

/* About */
.about {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	padding: 3px 5px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.75);
}

.aboutDiv {
	width: 100%;
}

.about h2 {
	font-size: 16px;
	border-radius: 10px;
}

.about > div {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.about p {
	text-align: start;
	font-size: 12px;
	width: 35%;
}

.about span {
	text-align: left;
	font-size: 13px;
	padding-left: 15px;
	width: 65%;
}

.info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menuBar {
	display: flex;
	overflow-x: auto;
	padding-bottom: 10px;
	column-gap: 10px;
}

.menuBar p {
	min-width: 125px;
	text-align: center;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.5);
	text-decoration: underline 2px #74acff;
	transition: 0.3s;
	cursor: pointer;
}

.menuBar p:hover {
	color: #252729;
	text-decoration: none !important;
	background: rgba(116, 172, 255, 0.75);
}

.active {
	color: #252729;
	text-decoration: none !important;
	background: rgba(116, 172, 255, 0.75) !important;
}

.menuContent {
	overflow-y: auto;
	max-height: 70vh;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menuContent p {
	font-size: 14px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

/* Rating */

.rating {
	position: absolute;
	top: 150px;
	left: -45px;
}

.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	width: 200px;
}

.logo {
	width: 40px !important;
}

.star {
	width: 65px !important;
}

.block p {
	position: absolute;
	top: 29px;
	left: 112px;
	color: #252327;
	font-weight: bold;
	font-size: 12px;
}

.rating h2 {
	position: absolute;
	top: -150px;
	left: 140px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #141618;
	padding: 0 5px;
	z-index: 10;
	border-radius: 5px;
	background: #fffa95;
}

/* Actors */

.actors {
	overflow-x: auto;
	display: flex;
	padding-bottom: 10px;
	column-gap: 20px;
}

.actors img {
	border-radius: 10px;
	height: 150px;
	transition: 0.5s;
	cursor: pointer;
}

.actors img:hover {
	transform: translateY(-1vmin) scale(0.95);
}

.actors > div {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.actorsBlock {
	display: flex;
	column-gap: 15px;
	text-align: center;
}

/* Images */

.images {
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 15px;
	justify-content: center;
}

.images img {
	border-radius: 3px;
	max-height: 75px;
	cursor: zoom-in;
}

/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2000;
}

.content h2 {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
	font-size: 24px;
	font-style: italic;
}

.cur {
	max-width: 95vw;
	max-height: 75vh;
	border-radius: 10px;
	filter: drop-shadow(0 0 3vmin rgba(255, 255, 255, 0.25));
	cursor: zoom-out;
}

.left {
	position: absolute;
	top: 80%;
	left: 50px;
}

.left img {
	width: 100px;
	transform: translate(0, -50%) rotateZ(-90deg);
	filter: invert(0.5);
	transition: 0.3s;
	cursor: pointer;
}

.left img:hover {
	transform: translate(-0.5vmax, -50%) rotateZ(-90deg);
	filter: invert(1);
}

.right {
	position: absolute;
	top: 80%;
	right: 50px;
}

.right img {
	width: 100px;
	transform: translate(0, -50%) rotateZ(90deg);
	filter: invert(0.5);
	transition: 0.3s;
	cursor: pointer;
}

.right img:hover {
	transform: translate(0.5vmax, -50%) rotateZ(90deg);
	filter: invert(1);
}

.disabledL,
.disabledR {
	cursor: default !important;
	filter: invert(0.1) !important;
}

.disabledL:hover {
	transform: translate(0, -50%) rotateZ(-90deg) !important;
}

.disabledR:hover {
	transform: translate(0, -50%) rotateZ(90deg) !important;
}

.close {
	position: absolute;
	width: 50px;
	height: 100%;
	top: 20px;
	right: 10px;
}

.close img {
	width: 35px;
	cursor: pointer;
	transition: 0.5s;
}

.close img:hover {
	filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.75));
}

/* Awards */

.awards {
	border-top: 2px solid white;
	padding-top: 10px;
}

.searchAward {
	height: 25vh;
	padding: 0 20px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	column-gap: 15px;
}

.searchAwardItem {
	max-width: 25vw;
	height: 125px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	filter: blur(5px);
}

.searchAward:hover .searchAwardItem {
	filter: blur(5px);
}

.searchAwardItem:hover {
	filter: blur(0) !important;
}

.activeAward {
	filter: blur(0);
}

.activeAward > h2 {
	color: goldenrod;
}

.searchAwardItem > img {
	height: 80%;
}

.awardsList {
	height: 30vh;
	overflow-x: auto;
	display: flex;
	align-items: center;
	text-align: center;
	column-gap: 10px;
	padding: 3px 5px;
}

.awardPerson {
	min-width: 75vw;
	height: 20vh;
	display: flex;
	column-gap: 10px;
	padding: 5px 5px;
	border-radius: 10px;
	box-shadow: 0 0 20px white;
	background: rgba(0, 0, 0, 0.75);
	transition: 0.3s;
}

.awardPerson > img {
	border-radius: 1vmax;
}

.awardPerson > div {
	display: flex;
	flex-direction: column;
	row-gap: 1vmin;
}

.awardPerson > div > a {
	font-size: 16px;
	font-weight: bold;
}

.awardPerson > div > h2 {
	font-size: 14px;
}

/* Similars */

.similars {
	width: 100%;
}

.similars > h2 {
	font-size: 16px;
	font-style: italic;
}

.similars > div {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	padding: 5px 10px;
	column-gap: 10px;
}

.similar {
	min-width: 25vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 5px 5px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1vmax white;
	transition: 0.3s;
}

.similar > a > h2 {
	font-size: 14px;
}

.similar:hover {
	transform: scale(1.25) translateY(-1vmin);
	background: #131517;
	z-index: 10;
}

.similar > img {
	height: 60%;
}

/* Reviews */

.reviewsLoader {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 35px;
	align-items: center;
	justify-content: center;
}

.reviewsLoader > div {
	transform: scale(1.5);
}

.reviewsContent {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	row-gap: 15px;
}

.reviewsContent > div:nth-child(1) {
	display: flex;
	text-align: center;
	column-gap: 10px;
	padding: 0 10px;
}

.reviewsContent > div:nth-child(1) {
	display: flex;
}

.reviewsContent > div:nth-child(2) {
	max-height: 70vh;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding-right: 1vmax;
}

.reviewsInnerLoader {
	width: 100%;
	display: flex;
	justify-content: center;
}
.reviewsContent > div:nth-child(2) > h1 {
	text-align: center;
}

.reviewsContent h2 > span:nth-child(2) {
	color: #7bf193;
}

.reviewsContent h2 > span:nth-child(3) {
	color: #678cf9;
}

.reviewsContent h2 > span:nth-child(4) {
	color: #d76f78;
}

.reviewsContent > div > h3 {
	position: relative;
	font-size: 16px;
	user-select: none;
}

.reviewsContent > div > h3 > span {
	cursor: pointer;
	padding: 0 5px;
	border-bottom: 1px solid white;
}

.reviewsContent > div > h3 > ul {
	position: absolute;
	overflow: hidden;
	width: 200px;
	height: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	padding: 10px 10px;
	text-align: center;
	border-top: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #7f7f7f;
	z-index: 100;
	transition: 0.5s;
}

.sortType {
	transform: translateX(-100px);
}

.open {
	animation: show 0.5s linear 0s 1 normal forwards;
}

@keyframes show {
	0% {
		height: 1px;
	}
	100% {
		height: 220px;
	}
}

.reviewsContent > div > h3 > ul > li {
	width: 80%;
	text-decoration: none;
	list-style: none;
	padding: 5px 0;
	border-radius: 1vmin;
	color: black;
	background: #bababa;
	cursor: pointer;
	transition: 0.3s;
}

.reviewsContent > div > h3 > ul > li:hover {
	transform: scale(1.075);
	box-shadow: 0.1vmax -0.2vmin 0 2px black;
}

.hiddenLine {
	height: 3vmin;
	width: 100%;
}

/* Review */

.review {
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
	row-gap: 10px;
	margin-top: 5px;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.5);
}

.review > div {
	height: 6vh;
	display: flex;
	justify-content: space-between;
}

.review > div > h2 {
	font-style: italic;
	margin-left: 10px;
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
}

.review > div > div {
	display: flex;
	column-gap: 10px;
}

.review > div > div > div {
	width: 75px;
}

.review > p {
	font-size: 14px;
	padding: 5px 7px;
	border-radius: 0.5vmax;
	background: black;
}

.review > h2 {
	text-align: center;
	font-size: 18px;
}

.review > h3 {
	text-align: center;
	font-size: 16px;
}

.review > h4 {
	padding: 5px 0;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	text-decoration: underline 3px;
	cursor: pointer;
	transition: 0.3s;
}

.review > h4:hover:hover {
	color: #141618;
	text-decoration: none;
	background: gray;
}

/* Markup */

.markup {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 0.5vmax;
	/* background: red!important */
}

.markup a,
.markup p {
	font-size: 13px;
}
