.container {
	width: 350px;
	height: 420px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50%;
	transform: translate(-50%, 15vh);
	border-radius: 2.5vmax;
	z-index: 1;
	overflow: hidden;
}

.container > div {
	width: 340px;
	height: 410px;
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

.container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	height: 150px;
	background: linear-gradient(transparent, #e50914, #e50914, #e50914, transparent);
	animation: rotate 10s linear infinite;
	z-index: 0;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.content {
	position: relative;
	width: 340px;
	height: 410px;
	padding-top: 3vmin;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-items: center;
	border-radius: 20px;
	background: #353937;
}

.content > form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}

.content h2,
.content h1 {
	font-size: 22px;
	user-select: none;
}

.title {
	font-size: 52px;
	color: #e50914;
	font-weight: bold;
	font-style: italic;
}

.footer {
	display: flex;
	column-gap: 5px;
}

.footer a,
.footer p {
	margin-top: 10px;
	font-size: 14px;
}

.footer a {
	text-decoration: underline;
	cursor: pointer;
}

.content button {
	padding: 10px 15px;
	font-size: 22px;
	background: #7d8286;
	color: #171921;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s;
}

.content button:hover {
	background: #57fa86;
}

.content button:active {
	transform: scale(0.95);
	transition: 0.2s;
}

.loader > div {
	transform: scale(0.5) translateY(-50%);
}
