.container {
	width: 85vmax;
	margin-left: 7.5vmax;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap; 
	row-gap: 2vmin;
}

.content {
	width: 95vmax;
	min-height: 70vmin;
	max-height: 72vmin;
	transform: translateX(-5vmax);
	overflow-y: auto;
	padding-bottom: 2vmin;
	border-bottom: 5px solid #dfdfdf;
}

.container > h1 {
	font-size: 5vmin;
	text-align: center;
	padding: 0 2vmax;
	cursor: default;
	border-radius: 2vmin;
	background: rgba(0, 0, 0, 0.75);
}

.container > h2 {
	font-size: 3vmin;
	padding: 0 2vmax;
	text-align: center;
	cursor: default;
	border-radius: 2vmin;
	background: rgba(0, 0, 0, 0.75);
}

.container > div > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 2vmax;
	row-gap: 5vmin;
	margin-top: 5vmin;
}

.loader {
	width: 100%;
	margin-top: 10vmin;
	transform: scale(2);
	display: flex;
	justify-content: center;
}

.hidenLine {
	width: 100%;
	height: 1vmin;
	background: transparent;
}
