.container {
	width: 100vw;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 10px;
	row-gap: 10px;
}

.content {
	width: 100%;
	min-height: 75vh;
	max-height: 77vh;
	transform: translateX(-12px);
	overflow-y: auto;
	padding-bottom: 10px;
	border-bottom: 5px solid #dfdfdf;
}

.container > h1 {
	font-size: 22px;
	text-align: center;
	padding: 0 20px;
	cursor: default;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.75);
}

.container > h2 {
	font-size: 18px;
	padding: 0 20px;
	text-align: center;
	cursor: default;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.75);
}

.container > div > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 10px;
	row-gap: 15px;
	margin-top: 10px;
}

.loader {
	width: 100%;
	margin-top: 45px;
	transform: scale(2);
	display: flex;
	justify-content: center;
}

.hidenLine {
	width: 100%;
	height: 3px;
	background: transparent;
}
