.container {
	width: 20vmax;
	height: 9vmin;
	position: relative;
}

.container img {
	position: absolute;
	width: 2vmax;
	top: 1.5vmin;
	right: 0.5vmax;
	z-index: 100;
	cursor: pointer;
}

.container input {
	position: relative;
	font-family: 'Cormorant Infant', serif;
	width: 20vmax;
	height: 7vmin;
	padding-left: 0.5vmax;
	padding-right: 3vmax;
	border: none !important;
	border-radius: 1vmin;
	color: #171921;
	font-size: 4vmin;
	font-style: italic !important;
	font-weight: 600 !important;
	background: rgba(117, 172, 255, 0.65);
}

.container input[type='text'] {
	padding-right: 0;
}

.error {
	background: rgba(255, 84, 53, 0.5) !important;
	animation: tremor 0.2s 2 alternate;
}

.container input::placeholder {
	color: rgba(23, 25, 33, 0.75) !important;
}

.container input:focus {
	outline: none !important;
	color: #171921 !important;
	background: #75acff !important;
}

.container p {
	position: absolute;
	top: 7vmin;
	left: 5%;
	width: 90%;
	min-height: 5vmin;
	font-size: 2.5vmin;
	font-style: italic;
	text-align: center;
	color: #ff5435;
	z-index: 100;
}

@keyframes tremor {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-1vmax);
	}

	50% {
		transform: translateX(0);
	}

	75% {
		transform: translateX(1vmax);
	}

	100% {
		transform: translateX(0);
	}
}
