.container {
	width: 100%;
	min-height: 100vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 3vmin;
	align-items: center;
	padding-bottom: 1vmin;
}

.profile {
	width: 60%;
	margin-top: 10vmin;
	display: flex;
	row-gap: 2vmin;
}

.profile img {
	height: 45vmin;
	border-radius: 1vmax;
	filter: drop-shadow(0 0 1vmax rgba(255, 255, 255, 0.35));
}

.about {
	width: 80%;
	padding-left: 10vmax;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: 2vmin;
}

.about > div {
	display: flex;
}

.about p {
	font-size: 2.5vmin;
	width: 20%;
}

.about span {
	font-size: 2.5vmin;
	width: 70%;
}

.info {
	max-width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2vmin;
}

.info > h2 {
	font-size: 3vmin;
}

.films {
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
	width: 100%;
	height: 35vmin;
	display: flex;
	column-gap: 1vmax;
}

.films a {
	font-size: 2vmin;
}

.facts {
	display: flex;
	flex-direction: column;
	padding-left: 1vmax;
	overflow: hidden;
	row-gap: 2vmin;
	transition: 2s;
}

.facts p {
	font-size: 2vmin;
}

.facts button {
	border: none;
	border-radius: 0.5vmax;
	padding: 1vmin 0;
	font-size: 3vmin;
	font-style: italic;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	text-decoration: underline;
	transition: 0.5s;
	margin-bottom: 2vmin;
}

.facts button:hover {
	background: #ededed;
	color: #131517;
	text-decoration: none;
}

/* Film */

.film {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vmin 1vmax;
	transition: 0.3s;
	cursor: pointer;
}

.film:hover {
	margin-top: 1vmin;
	transform: scale(1.1);
	box-shadow: 0 0 2vmax white;
}

.film > h1 {
	font-size: 2.5vmin;
	text-align: center;
}

.film > img {
	max-height: 17vmin;
	border-radius: 1vmin;
}
