.favorite {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 1vmax;
}

.favorite > img {
	position: absolute !important;
	top: 1.5vmin !important;
	left: -2vmax !important;
	width: 2vmax !important;
	transition: 1s !important;
}

.selectedF p {
	background: #fc7d50 !important;
	transition: 1s;
}

.selectedF > img {
	top: -3.5vmin !important;
	left: 5vmax !important;
}

.favorite p {
	width: 11vmax;
	padding: 2vmin 0;
	background: #fdfd96;
	border-radius: 1vmax;
	font-size: 2vmin;
	font-weight: bold;
	text-align: center;
	color: #171021;
	cursor: pointer;
	user-select: none;
}

.heart {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}

.heart svg {
	cursor: pointer;
	transition: 0.3s;
}

.heart svg:hover {
	transform: scale(1.05);
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div {
	position: absolute;
	box-sizing: border-box;
	transform: scale(0.5);
}

/* Viewed */

.viewed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2vmin;
	text-align: center;
}

.viewed p:nth-child(1) {
	font-size: 3vmin;
	cursor: default;
}

.viewed p:nth-child(2) {
	width: 9vmax;
	padding: 2vmin 0;
	background: #75acff;
	border-radius: 1vmax;
	font-size: 2.25vmin;
	font-weight: bold;
	text-align: center;
	color: #171021;
	cursor: pointer;
	user-select: none;
}

.selectedV {
	background: #2ffd7a !important;
}

.heart {
	color: red;
}
