.favorite {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	column-gap: 1vmax;
}

.favorite > img {
	position: absolute !important;
	top: 1.5vmin !important;
	left: -2vmax !important;
	width: 2vmax !important;
	transition: 1s !important;
}

.selectedF p {
	text-decoration: underline 5px #fc7d50 !important;
	transition: 1s;
}

.selectedF p:hover {
	background: #fc7d50 !important;
	color: #171021;
	text-decoration: none;
}

.selectedF > img {
	top: -3.5vmin !important;
	left: 5vmax !important;
}

.favorite p {
	width: 11vmax;
	padding: 2vmin 0;
	background: rgba(0, 0, 0, 0.5);
	text-decoration: underline 5px #fdfd96;
	border-radius: 1vmax;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
}

.favorite p:hover {
	background: #fdfd96;
	color: #171021;
	text-decoration: none;
}

.heart {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}

.heart svg {
	cursor: pointer;
	transition: 0.3s;
}

.heart svg:hover {
	transform: scale(1.05);
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div {
	position: absolute;
	box-sizing: border-box;
	transform: scale(0.5);
}

.heart {
	position: relative;
	color: red;
}

/* Viewed */

.viewed {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.viewed p:nth-child(1) {
	width: 80%;
	font-size: 13px;
	cursor: default;
}

.viewed p:nth-child(2) {
	width: 9vmax;
	padding: 2vmin 0;
	background: #75acff;
	border-radius: 1vmax;
	font-size: 1.75vmin;
	font-weight: bold;
	text-align: center;
	color: #171021;
	cursor: pointer;
	user-select: none;
}

.selectedV {
	background: #2ffd7a !important;
}

.viewed > div {
	width: 20%;
	height: 35px;
	cursor: pointer;
}

.viewed > div > svg {
	width: 100%;
	height: 100%;
}

.viewed > div > svg:hover {
	fill: #feef55;
}

.viewed > div > div {
	transform: scale(0.75) translate(-25%, -25%);
}

/* Error */

.error {
	top: calc(var(--y) - 50px);
	left: calc(var(--x) - 100px);
	position: fixed;
	width: 375px !important;
	height: 175px !important;
	padding: 0 1vmax;
	border-radius: 2vmax;
	background: #cb9247;
	z-index: 5000;
}

.errorWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error img {
	height: 150px !important;
}

.error h1 {
	color: #141618;
	font-size: 20px !important;
	cursor: default;
}

.error h1 a {
	color: #141618;
	padding: 0 0.25vmax;
	text-decoration: underline 3px;
	transition: 0.3s;
}

.error h1 a:hover {
	color: #dfdfdf;
	background: #141618;
	border-radius: 1vmin;
	text-decoration: none;
}
