.favorite {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 1vmax;
}

.favorite > img {
	position: absolute !important;
	top: 1.5vmin !important;
	left: -2vmax !important;
	width: 2vmax !important;
	transition: 1s !important;
}

.selectedF p {
	text-decoration: underline 5px #fc7d50 !important;
	transition: 1s;
}

.selectedF p:hover {
	background: #fc7d50 !important;
	color: #171021;
	text-decoration: none;
}

.selectedF > img {
	top: -3.5vmin !important;
	left: 5vmax !important;
}

.favorite p {
	width: 11vmax;
	padding: 2vmin 0;
	background: rgba(0, 0, 0, 0.5);
	text-decoration: underline 5px #fdfd96;
	border-radius: 1vmax;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
}

.favorite p:hover {
	background: #fdfd96;
	color: #171021;
	text-decoration: none;
}

.heart {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}

.heart svg {
	cursor: pointer;
	transition: 0.3s;
}

.heart svg:hover {
	transform: scale(1.05);
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div {
	position: absolute;
	box-sizing: border-box;
	transform: scale(0.5);
}

.heart {
	color: red;
}

/* Viewed */

.viewed {
	width: 100%;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center; */
	align-items: center;
	row-gap: 2vmin;
	text-align: center;
}

.viewed p:nth-child(1) {
	width: 80%;
	font-size: 3vmin;
	cursor: default;
}

.viewed p:nth-child(2) {
	width: 9vmax;
	padding: 2vmin 0;
	background: #75acff;
	border-radius: 1vmax;
	font-size: 2.25vmin;
	font-weight: bold;
	text-align: center;
	color: #171021;
	cursor: pointer;
	user-select: none;
}

.selectedV {
	background: #2ffd7a !important;
}

.viewed > div {
	width: 20%;
	height: 7vmin;
	cursor: pointer;
}

.viewed > div > svg {
	width: 100%;
	height: 100%;
}

.viewed > div > svg:hover {
	fill: #feef55
}

.viewed > div > div {
	transform: scale(0.75) translate(-25%, -25%);
}
