.container {
	width: 350px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50%;
	transform: translate(-50%, 5vh);
	border-radius: 20px;
	z-index: 1;
	overflow: hidden;
}

.container > div {
	width: 340px;
	height: 590px;
	display: flex;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 1;
}

.container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 150px;
	background: linear-gradient(transparent, #57fa86, #57fa86, #57fa86, transparent);
	animation: rotate1 10s linear infinite;
	z-index: 0;
}

@keyframes rotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.container button:focus {
	outline: none;
	background: #57fa86;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	row-gap: 20px;
}

.wrapper > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
}

.wrapper > div:nth-child(1) {
	align-items: center;
	justify-content: space-between;
}

.loader {
	width: 100%;
	min-height: 9vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vmin;
	margin-bottom: 2vmin;
}

.content {
	position: relative;
	width: 340px;
	height: 590px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-items: center;

	background: #353937;
}

.content h2,
.content h1 {
	user-select: none;
}

.title {
	font-size: 42px;
	text-align: center;
	color: #e50914;
	font-weight: bold;
	font-style: italic;
}

.footer {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 40px;
	column-gap: 5px;
}

.footer a,
.footer p {
	font-size: 14px;
}

.footer a {
	text-decoration: underline;
	cursor: pointer;
}

.content button {
	margin-top: 60px;
	padding: 10px 15px;
	font-size: 22px;
	background: #7d8286;
	color: #171921;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s;
}

.content button:hover {
	background: #57fa86;
}

.content button:active {
	transform: scale(0.95);
	transition: 0.2s;
}

.activate {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding-bottom: 50px;
	align-items: center;
	justify-content: center;
}

.activate > div {
	margin-bottom: 3vmin;
}

.activate button {
	width: auto;
}

.activate button:hover {
	background: #57fa86;
}

.resend {
	margin-top: 30px;
	font-size: 12px;
}

.resend > span {
	text-decoration: underline 3px #75acff;
	cursor: pointer;
	transition: 0.3s;
}

.resend > span:hover {
	color: #75acff;
	text-decoration: none;
}
