.container {
	width: 100vmax;
	height: 80vmin;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container button:focus {
	outline: none;
	background: #57fa86;
}

.wrapper {
	display: flex;
	margin-top: 2vmin;
	column-gap: 3vmax;
}

.wrapper > div {
	display: flex;
	flex-direction: column;
	row-gap: 5vmin;
}

.wrapper > div:nth-child(1) {
	align-items: center;
	justify-content: space-between;
}

.loader {
	width: 100%;
	min-height: 9vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vmin;
	margin-bottom: 2vmin;
}

.container > div {
	width: calc(50vmax + 2vmin);
	height: calc(58vmin + 2vmin);
	display: flex;
	border-radius: 2.5vmax;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.content {
	position: relative;
	width: 50vmax;
	height: 58vmin;
	padding-top: 4vmin;
	display: flex;
	flex-direction: column;
	row-gap: 3vmin;
	align-items: center;
	border-radius: 2vmax;
	background: #353937;
}

.content h2,
.content h1 {
	user-select: none;
}

.title {
	width: 100%;
	height: 10vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	column-gap: 0.5vmax;
}

.footer a,
.footer p {
	font-size: 2vmin;
}

.footer a {
	text-decoration: underline;
	cursor: pointer;
}

.content button {
	padding: 2vmin 2vmax;
	font-size: 3vmin;
	font-weight: bold;
	font-style: italic;
	background: #7d8286;
	color: #171921;
	border: none;
	border-radius: 1vmin;
	cursor: pointer;
	transition: 0.3s;
}

.content button:hover {
	background: #57fa86;
}

.content button:active {
	transform: scale(0.95);
	transition: 0.2s;
}

.content::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vmax;
	height: 40vmin;
	background: linear-gradient(transparent, #57fa86, #57fa86, #57fa86, transparent);
	animation: rotate1 10s linear infinite;
	z-index: -1;
}

@keyframes rotate1 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.activate {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 4vmin;
	align-items: center;
	justify-content: center;
	padding-bottom: 7vmin;
}

.activate > div {
	margin-bottom: 3vmin;
}

.activate button {
	width: auto;
}

.activate button:hover {
	background: #57fa86;
}
