.wrapper {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	row-gap: 15px;
	padding-top: 10px;
}

.wrapper h1 {
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
}

.title {
	display: flex;
	justify-content: center;
}

.title > h1 {
	font-size: 24px;
	border-radius: 2vmin;
	padding: 0 15px;
}

.title > h1 > span {
	font-size: 32px;
	position: relative;
	color: #e50914;
	font-style: italic;
}

.title > h1 > span > span {
	position: absolute;
	top: 35px;
	left: -60px;
	text-align: center;
	width: 100px;
	font-size: 16px;
	color: #e50914;
	z-index: 10;
}

.title > div {
	width: 20vw;
	height: 5vh;
}

.background {
	width: 100vw;
	display: flex;
	row-gap: 2vmin;
	flex-direction: column;
	user-select: none;
	pointer-events: none;
}

.row {
	display: flex;
	animation: leftflow 20s linear infinite;
	user-select: none;
	pointer-events: none;
	column-gap: 10px;
}

.row:nth-child(2) {
	display: flex;
	animation: rightflow 20s linear infinite;
}

.row > div {
	min-width: 80px;
	display: flex;
	justify-content: center;
	user-select: none;
	pointer-events: none;
}

.row img {
	width: 70px;
	user-select: none;
	pointer-events: none;
	max-height: 100px;
	border-radius: 10px;
}

@keyframes leftflow {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-540px);
	}
}

@keyframes rightflow {
	0% {
		transform: translateX(-540px);
	}

	100% {
		transform: translateX(0);
	}
}

.description {
	width: 100%;
	display: flex;
}

.description > h1 {
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding: 0 15px;
}

.description > h1 > a {
	text-decoration: underline 3px #4498dd;
	transition: 0.3s;
}

.description > h1 > a:hover {
	color: #4498dd;
	text-decoration: none;
}

.loader {
	width: 100%;
	height: 50vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader > div {
	transform: scale(3);
}
