.container {
	display: flex;
}

/* .search {
	position: fixed;
} */

.result {
	display: flex;
	flex-direction: column;
	row-gap: 1vmin;
	/* margin-left: 38vmax; */
}

.placeholder {
	text-align: center;
	padding: 0 15vmax;
}

.placeholder h2 {
	padding-top: 40%;
	font-size: 4vmin;
	font-style: italic;
}

.loader {
	width: 100%;
	height: 17vmin;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div {
	transform: scale(2);
}