.container {
	width: 85vmax;
	margin-left: 7.5vmax;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 2vmin;
}

.container > h1 {
	font-size: 7vmin;
	padding-top: 4vmin;
	text-align: center;
}

.container > div {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1vmax;
	row-gap: 5vmin;
	margin-top: 5vmin;
}

.loader {
	width: 100%;
	margin-top: 10vmin;
	transform: scale(2);
	display: flex;
	justify-content: center;
}
