.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 5px;
	background: rgba(0, 0, 0, 0.75);
}

.wrapper > img {
	height: 150px;
	border-radius: 10px;
}

.title {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.name {
	max-width: 85%;
	text-align: center;
}

.title > h2,
.title > h3 {
	cursor: default;
}

.rating {
	display: flex;
	column-gap: 10px;
}

.rating > h1 {
	font-size: 18px;
	padding: 5px 10px;
	text-align: center;
	font-style: italic;
	border-radius: 7px;
	color: #232527;
	cursor: default;
}

.rating > img {
	height: 25px;
}

.button {
	position: absolute;
	top: 2vmin;
	right: 1vmax;
	width: 3vmax;
	height: 6vmin;
	transition: 0.3s;
}

.button:hover {
	filter: drop-shadow(0 0 1vmax #d64a4c);
}
