.container {
	width: 80%;
	margin-top: 1vmin;
	margin-left: 10%;
	display: grid;
	grid-template-columns: 65% 35%;
	padding: 55px 2vmax;
	row-gap: 35px;
	border-radius: 5vmax;
	border: 3px solid #dfdfdf;
	border-bottom: none;
	border-top: none;
}

.password {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 35px;
	/* background: gray */
}

.avatarBlock {
	display: flex;
	flex-direction: column;
	row-gap: 35px;
}

.avatarBlock p {
	width: 7vmax;
	font-size: 3vmin;
	cursor: default;
}

.avatarBlock > div {
	min-width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 30vmin 1fr;
}

.avatarBlock > div > div {
	position: relative;
	display: grid;
	grid-template-columns: 150px 1fr;
}

.avatarBlock > div > p {
	width: 30vmin;
}

.avatarBlock > div > div > p {
	width: 100%;
	color: wheat;
}

.close {
	position: absolute;
	top: -20px;
	left: 75px;
	height: 35px;
	filter: grayscale(1);
	transition: 0.3s;
	cursor: pointer;
}

.close:hover {
	filter: grayscale(0);
}

.avatarBlock > div svg {
	width: 100px;
	height: 100px;
	transition: 0.3s;
	cursor: pointer;
}

.avatarBlock > div > div svg:hover {
	transform: scale(1.1);
	fill: #64c880;
}

.block {
	position: relative;
	width: 40vmax;
	min-height: 20vmin;
	display: flex;
	align-items: center;
	column-gap: 2vmax;
	border-radius: 4vmax;
	transition: 0.25s;
}

/* .block:hover {
	width: 60vmax;
	padding-left: 10vmax;
	box-shadow: 0 0 5vmin #5fa0ff;
	transition: 0.5s;
} */

.block p:nth-child(1) {
	width: 7vmax;
	font-size: 3vmin;
	cursor: default;
}

.block p:nth-child(2) {
	padding: 1vmin 2vmax;
	font-size: 3vmin;
	cursor: pointer;
	color: wheat;
}

.block li {
	display: flex;
	align-items: center;
	column-gap: 1vmax;
	cursor: pointer;
}

.block li img {
	width: 3vmax;
	filter: invert(0.75);
	transition: 0.3s;
}

.block input,
.avatarBlock textarea {
	background: transparent;
	border: none;
	transition: 0.3s;
	border-bottom: 3px solid wheat;
}

.avatarBlock textarea {
	overflow: hidden;
	height: 5vmin;
	resize: none;
	padding: 0.5vmin 0.5vmax;
	transition: 0.3s;
}

.name {
	width: 20vmax;
	height: 8vmin;
	border-radius: 1vmax;
	padding: 0 0.5vmax;
	font-size: 4vmin;
}

.avatar {
	width: 30vmax;
	height: 12vmin;
	border-radius: 1vmax;
	padding: 0 0.5vmax;
	text-align: left;
	font-size: 3vmin;
}

.block input:focus,
.avatarBlock textarea:focus {
	background: wheat;
	color: #232529;
	outline: none;
}

.avatarBlock textarea:focus {
	height: 15vmin;
}

.menu {
	position: absolute;
	right: -2vmax;
	display: flex;
	flex-direction: column;
	align-items: left;
	row-gap: 2vmin;
	font-size: 3vmin;
	border-radius: 2vmax;
	background: rgba(0, 0, 0, 0.75);
}

.menu li p {
	color: #dfdfdf !important;
	transition: 0.3s;
}

.menu li:hover p {
	color: white !important;
}

.menu li:hover img {
	filter: invert(1);
}

.btn {
	position: relative;
	width: 20vmax;
	height: 10vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.5vmin;
	overflow: hidden;
}

.btn::after {
	content: '';
	position: absolute;
	width: 22vmax;
	height: 12vmin;
	z-index: -1;
	background: #64c880;
	animation: blink 5s ease-in-out infinite;
}

@keyframes blink {
	0% {
		filter: opacity(1);
	}

	50% {
		filter: opacity(0.25);
	}

	100% {
		filter: opacity(1);
	}
}

.btn button {
	width: calc(20vmax - 2vmin);
	height: 8vmin;
	font-size: 3vmin;
	border: none;
	background: transparent;
	text-decoration: underline 5px #64c880;
	border-radius: 1vmin;
	transition: 0.3s;
	cursor: pointer;
}

.btn button:hover,
.btn button:focus {
	background: #64c880;
	text-decoration: none;
	color: #131517;
	outline: none;
}
