/* FIlm */

.containerFilm {
	display: flex;
	column-gap: 10px;
	margin-top: 3px;
	background: rgba(0, 0, 0, 0.5);
}

.block {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.title {
	width: 100%;
	display: flex;
	align-items: center;
}

.title > div {
	margin-left: 2vmax;
	width: 3vmax;
}

.containerFilm h2 {
	font-size: 13px;
}

.containerFilm h3 {
	font-size: 10px;
}

.containerFilm > img {
	height: 50px;
	border-radius: 1vmin;
	cursor: pointer;
}

.containerFilm span {
	padding: 3px 5px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #232527;
	margin-left: 1vmax;
	border-radius: 1vmax;
	cursor: default;
}

.containerFilm svg {
	height: 5vmin;
}

/* Actor */

.containerActor {
	width: 47%;
	display: flex;
	column-gap: 1vmax;
	border-radius: 0.75vmax;
	padding: 1vmin 0.5vmax;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1vmax white;
	margin-top: 2vmin;
	transition: 0.3s;
}

.containerActor:hover {
	box-shadow: 0 0 1vmax #5e8efe;
	transform: scale(1.05);
}

.containerActor h2 {
	font-size: 14px;
}

.containerActor > div {
	margin-top: 1vmin;
}

.containerActor > img {
	height: 50px;
	border-radius: 1vmin;
}
