.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 20px;
	row-gap: 15px;
}

.container > h1 {
	font-size: 24px;
	text-align: center;
	padding: 0 20px;
	margin-top: 10px;
	cursor: default;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.75);
}

.container > h1 > span {
	position: relative;
	text-decoration: underline;
	cursor: pointer;
}

.container > h1 > span > ul {
	overflow: hidden;
	position: absolute;
	top: 30px;
	width: 115%;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding: 5px 10px;
	text-align: left;
	color: black;
	background: gray;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: 100;
	transition: 1s;
}

.show {
	animation: animate 0.75s linear 0s 1 normal forwards;
}

@keyframes animate {
	0% {
		height: 5vmin;
	}

	100% {
		height: 430px;
	}
}

.container > h1 > span:nth-child(2) {
	left: 0;
}

.container > h1 > span:nth-child(1) > ul {
	left: -0.5vmax;
}

.container > h1 > span:nth-child(2) > ul {
	left: 0;
}

.container > h1 > span > ul > li {
	list-style: none;
	color: #131517;
	font-size: 14px;
	text-align: center;
	padding: 5px 7px;
	border-radius: 3px;
	border: 1px solid #131517;
	user-select: none;
	transition: 0.3s;
}

.active {
	background: #76c77d !important;
	color: #131517 !important;
	transform: scale(1) !important;
	box-shadow: none !important;
	cursor: no-drop;
}

.container > h1 > span > ul:hover > li {
	filter: blur(2px);
}

.container > h1 > span > ul > li:hover {
	background: rgba(255, 255, 255, 0.75);
	color: black;
	transform: scale(1.1);
	box-shadow: 0.025vmax -0.1vmin 0 2px black;
	filter: blur(0);
}

.container > div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 10px;
	row-gap: 10px;
	padding: 0 10px;
	margin-top: 20px;
}

.loader {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader > div {
	transform: scale(2.5);
}
