.container {
	width: 100vw;
	height: 150px;
	display: flex;
	align-items: center;
	column-gap: 5px;
	padding: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(117, 172, 255, 0.25);
}

.container > img {
	border-radius: 5px;
	max-width: 60px;
	max-height: 80px;
}

.description {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.description a {
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.info {
	display: flex;
	column-gap: 10px;
}

.info > div {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.info > div > h2 {
	font-size: 12px;
	font-style: italic;
}

.buttons {
	width: 80px;
	display: flex;
	padding-right: 10px;
	justify-content: flex-start;
	flex-direction: column;
	row-gap: 15px;
}

.buttons svg {
	height: 30px !important;
}

.rating {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.block {
	display: flex;
	align-items: center;
	column-gap: 2vmax;
}

.block p {
	min-width: 4vmax;
	padding: 1vmin 1vmax;
	text-align: center;
	border-radius: 1vmin;
	font-size: 3vmin;
	font-weight: bold;
	font-style: italic;
	color: #232527;
}

.block img {
	width: 25px;
}
