.container {
	display: flex;
	align-items: center;
	column-gap: 1vmax;
	padding: 2vmin;
	border-radius: 1vmax;
	box-shadow: 0 0 4vmin rgba(117, 172, 255, 0.25);
}

.container > img {
	border-radius: 1vmin;
	max-width: 8vmax;
	max-height: 20vmin;
}

.description {
	width: 35vmax;
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.description a {
	font-weight: bold;
	font-style: italic;
	font-size: 3vmin;
}

.description h2 {
	font-size: 2vmin;
}

.info {
	display: flex;
	column-gap: 2vmax;
}

.info > div {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.info > div > h2 {
	font-size: 2.5vmin;
	font-style: italic;
}

.buttons {
	display: flex;
	flex-direction: column;
	row-gap: 3vmin;
}

.rating {
	display: flex;
	flex-direction: column;
	row-gap: 2vmin;
}

.block {
	display: flex;
	align-items: center;
	column-gap: 2vmax;
}

.block p {
	min-width: 4vmax;
	padding: 1vmin 1vmax;
	text-align: center;
	border-radius: 1vmin;
	font-size: 3vmin;
	font-weight: bold;
	font-style: italic;
	color: #232527;
}

.block img {
	width: 3vmax;
}
