.header {
	position: relative;
	width: 100%;
	height: 10vh;
	display: flex;
}

.search {
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.logo {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: top;
	transition: 0.3s ease;
	z-index: 1000;
}

.logo > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	column-gap: 1vmax;
}

.logo > div > img:nth-child(1) {
	width: 35px;
	filter: invert(0.5);
	transition: 0.3s;
	cursor: pointer;
}

.logo > div > img:nth-child(1):hover {
	filter: invert(1);
}

.logo > div > img:nth-child(2) {
	height: 35px;
}

.logo > img:hover {
	filter: invert(1);
}

.rightMenu {
	position: absolute;
	top: 0;
	right: 0;
	width: 20vmax;
	height: 100%;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 1vmin;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader > div {
	transform: scale(0.5) translateX(-100px);
}

.userInfo {
	position: absolute;
	width: 100%;
	top: 0;
	padding-right: 10px;
	display: flex;
	column-gap: 10px;
	justify-content: space-around;
	align-items: center;
	z-index: 11;
}

.topBlock {
	height: 10vh;
	position: relative;
	transition: 1s ease;
}

.topBlock p {
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
}

.topBlock img {
	height: 50px;
	margin-top: 1vmin;
	border-radius: 1vmin;
	cursor: pointer;
}

.userInfo a {
	margin-top: 10px;
	border: none;
	padding: 5px 5px;
	font-size: 16px;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	transition: 0.3s;
	text-decoration: underline;
	border: 5px solid transparent;
	box-sizing: border-box;
}

.userInfo a:hover {
	animation: tremor 0.2s linear 2;
	text-decoration: none !important;
}

.userInfo a:nth-child(1) {
	margin-left: 5vmax;
	text-decoration: underline #57fa86 5px;
}

.userInfo a:nth-child(1):hover {
	color: #57fa86;
}

.userInfo a:nth-child(2) {
	text-decoration: underline #75acff 5px;
}

.userInfo a:nth-child(2):hover {
	color: #75acff;
}

@keyframes tremor {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-0.25vmax);
	}

	50% {
		transform: translateX(0);
	}

	75% {
		transform: translateX(0.25vmax);
	}

	100% {
		transform: translateX(0);
	}
}

/* Menu */

.menu {
	position: absolute;
	top: 8vh;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding-left: 15px;
}

.open {
	height: 420px;
	border-bottom-left-radius: 1vmax;
	border-bottom-right-radius: 1vmax;
	background: rgba(0, 0, 0, 0.95);
	transition: 0.3s;
}

.menu > div {
	display: flex;
	width: 100%;
	column-gap: 10px;
	filter: opacity(0);
}

.menu > div:nth-child(1) {
	animation: show 0.3s linear 0.05s 1 normal forwards;
}

.menu > div:nth-child(2) {
	animation: show 0.3s linear 0.1s 1 normal forwards;
}

.menu > div:nth-child(3) {
	animation: show 0.3s linear 0.15s 1 normal forwards;
}

.menu > div:nth-child(4) {
	animation: show 0.3s linear 0.175s 1 normal forwards;
}

.menu > div:nth-child(5) {
	animation: show 0.3s linear 0.2s 1 normal forwards;
}

.menu > div:nth-child(6) {
	animation: show 0.3s linear 0.225s 1 normal forwards;
}
.menu > div:nth-child(7) {
	animation: show 0.3s linear 0.25s 1 normal forwards;
}
.menu > div:nth-child(8) {
	animation: show 0.3s linear 0.275s 1 normal forwards;
}

@keyframes show {
	0% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(1);
	}
}

.menu > div a {
	font-size: 20px;
	transition: 0.3s;
}

.menu > div > img {
	height: 20px;
	filter: invert(0.75);
	transition: 0.3s;
}

.menu > div:hover a {
	color: #fff;
	transform: translate(0.5vmax, 0.25vmin);
}

.menu > div:hover img {
	filter: invert(1);
	transform: translate(0.5vmax, 0.25vmin) scale(1.2);
}

/* Settings */

.settings {
	position: absolute;
	top: 0vmin;
	width: 100%;
	padding-top: 8vh;
}

.showSettings {
	height: 200px;
	border-bottom-left-radius: 1vmax;
	border-bottom-right-radius: 1vmax;
	background: rgba(0, 0, 0, 0.95);
	transform: translateX(-40px);
	transition: 0.3s;
	z-index: 10;
}

.settings > div {
	display: flex;
	align-items: center;
	padding-left: 15px;
	column-gap: 15px;
	filter: opacity(0);
}

.settings > div > img {
	width: 24px;
	filter: invert(0.75);
	transition: 0.5s;
	cursor: default;
}

.settings > div > a,
.settings > div > p {
	font-size: 20px;
	font-style: normal;
	transition: 0.5s;
	cursor: pointer;
}

.settings > div:nth-child(1) {
	animation: show 0.2s linear 0.1s 1 normal forwards;
}

.settings > div:nth-child(2) {
	animation: show 0.2s linear 0.2s 1 normal forwards;
}

.settings > div:hover a,
.settings > div:hover p {
	color: #fff;
	transform: translate(0.5vmax, 0.25vmin);
}

.settings > div:hover img,
.settings > div:hover img {
	filter: invert(1);
	transform: translate(0.5vmax, 0.25vmin) scale(1.2);
}

.logout > div {
	transform: scale(0.75) translateX(6vmax);
}
