.footer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	row-gap: 30px;
}

.logo {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo p {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	padding: 0 5px;
}

.logo img {
	width: 90%;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 2vmin;
}

.description > p {
	font-size: 14px;
	padding: 0 20px;
}

.bottom {
	display: flex;
}

.contacts {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts > p {
	text-align: center;
	font-size: 16px;
}

.block {
	display: flex;
	align-items: center;
	margin-left: 50px;
	column-gap: 1vmax;
}

.block p {
	font-size: 16px;
	transition: 0.5s;
}

.block img {
	width: 35px;
	user-select: none;
	cursor: pointer;
	filter: grayscale(1);
	transition: 0.5s;
}

.block img:hover {
	filter: grayscale(0);
}

.block:hover p {
	color: white;
}

.copy img {
	width: 35px;
	filter: grayscale(0) !important;
}

.copy P {
	color: #5ffd9c !important;
}
