.search {
	position: relative;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.search input {
	width: 0vmax;
	height: 20px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	padding-bottom: 0.5vmin;
	color: #232527;
	font-size: 12px;
	font-style: italic;
	transition: 0.3s;
}

.active {
	padding-left: 0.5vmax !important;
	width: 220px !important;
}

.search input:focus {
	outline: none;
}

.search input::placeholder {
	color: rgba(35, 37, 39, 0.75);
}

.search > img {
	width: 25px;
	transform: rotateZ(270deg);
	filter: invert(0.75);
	transition: 0.3s;
	cursor: pointer;
}

.search > img:hover {
	filter: invert(1);
	transform: rotateZ(225deg) scale(1.1);
}

.results {
	position: absolute;
	width: 350px;
	top: 100%;
	left: -50px;
	z-index: 2000;
}

/* Results */

.wrapper {
	/* width: 100%; */
	/* height: 75vmin; */
	border-bottom-left-radius: 1vmax;
	border-bottom-right-radius: 1vmax;
	background: rgba(0, 0, 0, 0.95);
	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap: 15px;
	justify-items: center;
}

.wrapper > div {
	max-height: 100%;
	width: 100%;
}

.films,
.actors {
	min-width: 100% !important;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 10px;
	border-bottom: 2px solid white;
	overflow-y: auto;
	overflow-x: visible;
}

.films > h2,
.actors > h2 {
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	padding-left: 10px;
	cursor: default;
}

.block {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	overflow-y: auto;
}

.info {
	width: 100%;
	display: flex;
	column-gap: 5vw;
	padding-left: 3vw;
	padding-bottom: 0.5vh;
	font-size: 12px;
}

.info h3 {
	padding: 5px 10px;
	color: #232527;
	border-radius: 3px;
	background: #efda4a;
	user-select: none;
	cursor: pointer;
	font-size: 12px;
	transition: 0.3s;
}

.info h3:hover {
	background: #fffa7a;
}

.nothing {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 2vw;
	padding-bottom: 10vmin;
	cursor: default;
}

.nothing h2 {
	font-size: 16px;
	color: #ed5f3e;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader > div {
	transform: scale(3);
}

/* FilmItem */

.film {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 5px;
	column-gap: 10px;
	border-bottom: 2px solid #dfdfdf;
}

.film > img {
	width: 50px;
	cursor: zoom-in;
}

.country {
	display: flex;
	align-items: center;
}

.filmTitle {
	font-size: 18px;
}

.film h3 {
	font-size: 14px;
	max-width: 80%;
	margin-top: 3px;
	cursor: default;
}

.film span {
	padding: 2px 10px;
	font-size: 14px;
	font-style: italic;
	color: #232527;
	margin-left: 10px;
	border-radius: 5px;
	cursor: default;
}

.heart {
	width: 25px;
	height: 15px;
	margin-left: 10px;
	margin-top: 3px;
}

/* ActorItem */

.actor {
	width: 340px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px;
	column-gap: 10px;
	border-bottom: 2px solid #dfdfdf;
}

.actor img {
	width: 50px;
	cursor: zoom-in;
}

.actor h2 {
	font-size: 16px;
}

.actor h3 {
	margin-top: 5px;
	cursor: default;
}

/* Image */

.cart {
	position: fixed;
	height: 65vmin;
	z-index: 1000;
}

.cart > div {
	width: 100%;
	height: 100%;
}

.cart img {
	height: 100%;
	width: 100%;
	border-radius: 2vmax;
	filter: drop-shadow(0 0 2vmax white);
	cursor: default;
}

.buttons {
	position: absolute;
	top: 0;
	left: 15vmax;
	display: flex;
	justify-content: end;
	align-items: end;
	row-gap: 2vmin;
}
